/*****************************************************************************
 * Styling for Dark Theme                                                    *
 *                                                                           *
 * For styling the entire Joplin app (except the rendered Markdown,          *
 * which is defined in `userstyle.css`)                                      *
 *****************************************************************************/

:root {
	--editor-heading-color:            cyan;
	--editor-heading-font-weight:      bold;                     /* not used */
	--editor-heading-font-size:        1.1em;                    /* not used */
	--editor-code-color:               greenyellow;
	--editor-text-in-brackets-color:   #f9ee98;                 /* yellowish */
	--editor-strong-color:             salmon;
	--editor-emphasis-color:           salmon;
	--editor-emphasis-font-style:      italic;
	--editor-list-element-color:       deepskyblue;
	--editor-checkbox-color:           lightgrey;                /* not used */
}
/* not used: to take effect the proper section must be uncommented */

/*------ Editor: Headings ---------------------------------------------------*/
.ace_heading {
	color: var(--editor-heading-color) !important;
	/* font-weight: var(--editor-heading-font-weight); */
	/* font-size: var(--editor-heading-font-size); */
}
/*---------------------------------------------------------------------------*/

/*------ Editor: inline code and codeblocks ---------------------------------*/
.ace_support.ace_function {
	color: var(--editor-code-color) !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: text in brackets [ ] ---------------------------------------*/
.ace_string {
	color: var(--editor-text-in-brackets-color) !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: strong -----------------------------------------------------*/
.ace_string.ace_strong {
	color: var(--editor-strong-color) !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: italics ----------------------------------------------------*/
.ace_string.ace_emphasis {
	color: var(--editor-emphasis-color) !important;
	font-style: var(--editor-emphasis-font-style);
}
/*---------------------------------------------------------------------------*/

/*------ Editor: list elements and checkbox elements ------------------------*/
.ace_list {
	color: var(--editor-list-element-color) !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: checkbox [ ] and [x] ---------------------------------------*/
/*
.ace_variable {
	color: var(--editor-checkbox-color) !important;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Notebook and note list panes: Dim items ----------------------------*/
/*
a.list-item {
	color: #A3A79F !important;
}

.fa.fa-plus-square, .fa.fa-minus-square {
	color: #575856 !important;
}

.note-list input[type="checkbox"i] {
	opacity: .5;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Notebook pane: use lines for notebook tree -------------------------*/
/*
.folders i.fa.fa-minus-square, .folders i.fa.fa-plus-square {
	padding-right: 3px !important;
}

.folders .list-item-container {
	margin: 0 !important;
}

.folders a.list-item {
	border-left: 1px solid #575856 !important;
	padding-left: 9px;
	margin: 0 !important;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Input fields: Search (global, local), Note Title -------------------*/
/* .header input { */
input {
	border-radius: 14px !important;
	border: 1px solid rgb(85, 85, 85);
	outline: none;
	/*
	background-color: #888888 !important;
	*/
}
/*---------------------------------------------------------------------------*/

/*------ Attachment pane: make first 2 columns easier to read ---------------*/
#react-root > div > div > div:nth-child(2) > div:nth-child(2) > table > tbody > tr > td.titleCell,
#react-root > div > div > div:nth-child(2) > div:nth-child(2) > table > tbody > tr > td:nth-child(2) {
	font-size: unset !important;
}
/*---------------------------------------------------------------------------*/
