/*****************************************************************************
 * Styling for Dark Theme                                                    *
 *                                                                           *
 * For styling the entire Joplin app (except the rendered Markdown,          *
 * which is defined in `userstyle.css`)                                      *
 *****************************************************************************/

/*------ Editor: Headings ---------------------------------------------------*/
.ace_heading {
	color: cyan !important;
	/* font-weight: bold; */
	/*font-size: 1.1em;*/
}
/*---------------------------------------------------------------------------*/

/*------ Editor: inline code and codeblocks ---------------------------------*/
.ace_support.ace_function {
	color: greenyellow !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: text in brackets [ ] ---------------------------------------*/
.ace_string {
	color: #f9ee98 !important; /* yellow-ish */
}
/*---------------------------------------------------------------------------*/

/*------ Editor: strong -----------------------------------------------------*/
.ace_string.ace_strong {
	color: salmon !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: italics ----------------------------------------------------*/
.ace_string.ace_emphasis {
	color: salmon !important;
	font-style: italic;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: list elements and checkbox elements ------------------------*/
.ace_list {
	color: deepskyblue !important;
}
/*---------------------------------------------------------------------------*/

/*------ Editor: checkbox [ ] and [x] ---------------------------------------*/
/*
.ace_variable {
	color: lightgrey !important;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Notebook and note list panes: Dim items ----------------------------*/
/*
a.list-item {
	color: #A3A79F !important;
}

.fa.fa-plus-square, .fa.fa-minus-square {
	color: #575856 !important;
}

.note-list input[type="checkbox"i] {
	opacity: .5;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Notebook pane: use lines for notebook tree -------------------------*/
/*
.folders i.fa.fa-minus-square, .folders i.fa.fa-plus-square {
	padding-right: 3px !important;
}

.folders .list-item-container {
	margin: 0 !important;
}

.folders a.list-item {
	border-left: 1px solid #575856 !important;
	padding-left: 9px;
	margin: 0 !important;
}
*/
/*---------------------------------------------------------------------------*/

/*------ Input fields: Search (global, local), Note Title -------------------*/
/* .header input { */
input {
	border-radius: 14px !important;
	border: 1px solid rgb(85, 85, 85);
	outline: none;
	/*
	background-color: #888888 !important;
	*/
}
/*---------------------------------------------------------------------------*/
