/* Styling for Dark Theme */

/* Change the font size to 13px */
body, th, td, .inline-code {
	font-size: 13px;
}

/* Colors for different mark tags */
/* ==mark== */
mark {
	background-color: #BBDD66;
	padding:          1px 2px;
}
/* occurrences of search term */
mark[data-markjs] {
	background-color: #F3B717;
	padding:          0;
}
/* current search term (local search) */
mark[data-markjs].mark-selected {
	background-color: #CF3F00;
}

/* Add background and padding to preformatted text */
pre {
	padding:    0.5em;
	background: #282c34;
}

/* Headings: change background and padding */
h1, h2, h3, h4, h5, h6 {
	background-color: #444444;
	padding-bottom:   .1em;
	padding-top:      .2em;
	padding-left:     .4em;
	border-bottom:    unset;
}

/* TOC: Use nested counters for list items */
.table-of-contents ol {
	counter-reset: list-item;
}
.table-of-contents li {
	display: block; counter-increment: list-item;
}
.table-of-contents li:before {
	content: counters(list-item,'.') ' ';
}

/* TOC: Make TOC a fixed height and scrollable */
/*
.table-of-contents {
	overflow-y: auto;
	height: 18em;
}
*/

/* Katex: Make font (symbols and formulas) bigger */
/*
.katex {
	font-size: 1.6em;
}
*/

/* Print: Adjustments for printing and PDF export */
@media print {

	pre {
		padding: unset;
		background: unset;
	}

	h1, h2, h3, h4, h5, h6 {
		background-color: #eeeeee;
	}

}
